---
  const { title, videoSrc, index } = Astro.props;
---
<section class={`project-container project-container-${index}`} data-index={index} style={`margin-top: ${index === 0 ? '0' : '-35vh'}`}>
  <div class={`project-wrapper project-wrapper-${index}`}>
    <div class="project-info">
      <div class="project-info__wrapper">
        <div class="module-subtitle-title">
          <h2>{title}</h2>
        </div>
      </div>
      <div class="project-media">
        <div class="project-video">
          <video
            height="900"
            width="1600"
            playsinline=""
            muted=""
            controlslist="nodownload noplaybackrate"
            disablepictureinpicture=""
            src={videoSrc}
          ></video>
        </div>
      </div>
    </div>
  </div>
</section>

<style>
  .project-container {
    min-height: 100dvh;
    position: relative;
  }
  .project-wrapper {
    width: 100%;
    background-color: rgba(222, 223, 227, 0.9);
  }
  .project-info {
    height: 100%;
    width: 100%;
  }
  .module-subtitle-title h2 {
    font-size: 5.55556vw;
    font-weight: 470;
    letter-spacing: -.04em;
    line-height: .8;
  }
  .project-media {
    position: relative;
    /* height: 100dvh; */
    /* width: 100%; */
    border: 1px solid red;
  }
  .project-video {
    height: 125vh;
    width: 100%;
    padding: 50px 0;
  }
  .project-media video {
    height: 100%;
    object-fit: cover;
    width: 100%;
  }
</style>
